<h1 class="title">
  New Product
</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()" class="form">
  <div class="form-group">
    <label for="name" class="form-label">
      Name:
    </label>
    <input class="form-control" id="name" name="name" formControlName="name" type="text" />
    <div class="error" *ngIf="productForm.get('name').hasError('required')">
      Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="category" class="form-label">
      Category:
    </label>
    <input class="form-control" id="category" name="category" formControlName="category" type="text" />
  </div>
  <div class="form-group">
    <label for="price" class="form-label">
      Price:
    </label>
    <input class="form-control" id="price" name="price" formControlName="price" type="number" />
  </div>
  <div class="form-group-btn">
    <button class="form-btn" [disabled]="productForm.invalid">
      Add
    </button>
  </div>
</form>
